/*
    TODO
    // -[x] 가운데로 맞추기

    // -[x] 박스 생성
        // -[x] 제출 버튼 만들기
        // -[x] radio 띄우기

 */

*{
    box-sizing: border-box;
}


body{
    position: relative;
    background-color: #f4f4f4;
    margin: 0;

}
.title{
    margin-bottom: 50px;
}
.hint{
    margin-bottom: 20px;
}

.check{
    margin-bottom: 100px;
}
.quiz-submit{
    margin-bottom: 50px;
}


ul li{
    list-style-type: none;
    padding: 5px;
}



.quiz-container{
    position: absolute;
    left: 50%;
    margin-left: -290px;
    top: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,1);
    width: 600px;
    height: 60vh;
    padding: 1rem;
    border-radius: 5px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.1);
}

.btn{
    background-color: blue;
    width: 100%;
    color: white;
    cursor: pointer;
    font-size: 20px;
}