/*
    TODO
    // -[x] 가운데로 맞추기

    // -[x] 박스 생성
        // -[x] 제출 버튼 만들기
        // -[x] radio 띄우기

    // -[] 힌트 생성
        // -[]
 */

*{
    box-sizing: border-box;
}


body{
    position: relative;
    background-color: #b8c6db;

    margin: 0;

}
.title{
    margin-bottom: 50px;
}
.hint{
    margin-bottom: 20px;
}

.check{
    margin-bottom: 100px;
}
.quiz-submit{
    margin-bottom: 50px;
}


ul li{
    list-style-type: none;
    padding: 10px;
    margin-right: 50px;
}



.quiz-container{
    background: white;
    position: absolute;
    left: 50%;
    margin-left: -290px;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,1);
    width: 600px;
    height: 80vh;
    padding: 1rem;
    border-radius: 5px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.1);
    border: 0;

}

label{
    cursor: pointer;
}

.btn{
    position: absolute;
    height: 5vh;
    background-color: blue;
    width: 100%;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    border: 0;
    top: 0px;
}

.open{
    text-decoration: none;
    color: red;

}
.question{
    font-size: 25px;
}


.hint-open{
    border-radius: 5px;
    border: 0px;
    background: white;
    cursor: pointer;
}

.model-wrap{

    display: none;
    margin-top: 20px;
    width: 200px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,5);
    background: #eee;
    padding: 5px;



}
.text{
    text-align: center;
}

.hint-close > img{
    display: block;
    width: 10%;
    height: 100%;
}

